# Default ignored files
/shelf/
/workspace.xml
/common/.env
/gateway/.env
/kitchen/.env
/payments/.env
/orders/.env
/stocks/.env
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml